.list {
    background-color: aqua;
    color: black;
    
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-style: oblique;
    fill: bisque;
}

.list .pizza {
    font-size: x-large;
    font-style: italic;
}